.Carousel {
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .Carousel img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
  }
  
  /* Media query for screens with width less than 600px */
  @media (max-width: 600px) {
    .Carousel img {
      max-width: 100%;
    }
  }
  